<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Parada 6 / 32
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-title size="small">Av. Libertad 456, Sector Norte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label style="font-weight: 700;">CONTENEDORES A RECOGER</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-checkbox labelPlacement="end" justify="start">Contenedor General (G-102)</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox labelPlacement="end" justify="start">Reciclaje Papel (R-45)</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox labelPlacement="end" justify="start">Orgánico (O-12)</ion-checkbox>
    </ion-item>
  </ion-list>

  <div style="padding: 16px;">
    <ion-item style="--padding-start: 0; --inner-padding-end: 0;">
      <ion-label position="stacked" style="font-weight: 700; color: var(--ion-color-primary);">Notas / Incidencia</ion-label>
      <ion-textarea placeholder="Ej: Contenedor dañado, acceso bloqueado..." rows="4"></ion-textarea>
    </ion-item>

    <div style="margin-top: 24px;">
      <ion-button expand="full" color="success" (click)="completarParada()" style="height: 50px; font-weight: 700;">
        COMPLETAR PARADA
      </ion-button>
      <ion-button expand="full" fill="outline" color="danger" (click)="reportarProblema()" style="height: 50px; font-weight: 700; margin-top: 12px;">
        Reportar Problema
      </ion-button>
    </div>
  </div>
</ion-content>
